//FOOTER

footer {
  padding-top: 78px;
  padding-bottom: 30px;

  p {
    text-align: center;
  }
}

.footer-btn {
  width: 85%;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 163px;
  border-radius: 139px;
  border: solid 1px #f2f2f2;
}

.btn-flex {
  height: 108px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;

  img {
    width: 108px;
    height: 108px;
  }
}

.text-flex {
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 17px;
}

.social-media {
  width: 198px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 34px;
  margin: 0 auto 21px;
}