//HEADER

.header-height {
  height: 850px;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  height: 56px;
  padding-top: 30px;
  margin-bottom: 420px;
  padding-left: 2%;
  padding-right: 2%;

  .hope-logo {
    display: block;
    width: 56px;
    height: 56px;
    position: relative;
    bottom: 8px;
  }
}

.hamburger-menu {
  width: 56px;
  height: 56px;
  flex-grow: 0;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
  border-radius: 20px;
  border: solid 2px #fff;
}

.navbar {
  width: 595px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-button {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    border-radius: 20px;
    border: solid 1px #fff;
  }
}

.sticky-header {
  background-color: $background-1;
  height: 92px;
  position: fixed;
  top: -92px;
  width: 100%;
  transition: top 1s ease;
  z-index: 100;

  .navbar-wrapper {
    margin-bottom: 0;
  }
}