//768PX

@media (max-width: 768px) {
  .text-large {
    font-size: 12vw;
    padding-left: 3vw;
  }
  .hamburger-menu {
    display: flex;
    position: relative;
    bottom: 7px;
  }
  .navbar {
    display: none;
  }
  .sticky-header {
    display: none;
  }
  .navbar-wrapper {
    margin-bottom: 179px;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .section-2-wrapper {
    width: 96%;
    padding-left: 3vw;
  }
  .achievements {
    width: 96%;
    gap: 15%;
  }
  .background-section-3 {
    height: 1400px;
  }
  .s3-top-wrapper {
    width: 96%;
    height: 498px;
    margin: 0 auto 126px;
  }
  .circle-extender-top {
    @include circle-extender-template;
    width: 8%;
    height: 16%;
    top: 10%;
    left: 87%;
  }
  .s3-grid {
    display: grid;
    grid-template-columns: 47% 47%;
    padding-left: 3vw;
    grid-template-areas:
          "box-1 box-2";
    gap: 4%;
    .box-1, .box-2 {
      width: 333px;
      max-width: 100%;
      height: auto;
    }
    .box-3 {
      display: none;
    }
  }
  .s4-picture-1 > :first-child {
    position: relative;
    height: 414px;
    width: 96vw;
    padding-left: 2.5vw;
    padding-right: 1vw;
  }
  .s4-picture-1 > :last-child {
    width: 31%;
    height: 55%;
    top: 26%;
    left: 34%;
  }
  .s4-flex-pic {
    gap: 6px;
  }
  .s4-picture-2, .s4-picture-3 {
    width: 48vw;
    height: auto;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .s4-butterfly {
    width: 45%;
    height: auto;
    top: 21%;
    left: 29%;
  }
  .s4-asterics {
    width: 53%;
    height: auto;
    top: 14%;
    left: 24%;
  }
  .footer-btn {
    width: 90vw;
    max-width: 100%;
    height: auto;
    margin-bottom: 60px;
  }
  .text-flex {
    gap: 8px;
    h3 {
      font-size: 6vw;
    }
    p {
      font-size: 3vw;
    }
  }
}

//375PX

@media (max-width: 375px) {
  .text-large {
    font-size: 48px;
    padding-left: 2vw;
  }
  .text-medium-small {
    font-size: 32px;
  }
  .text-small {
    font-size: 15px;
  }
  .header-height {
    height: 800px;
  }
  .navbar-wrapper {
    margin-bottom: 329px;
  }
  .section-2-wrapper {
    padding-top: 72px;

    .text-medium {
      font-size: 36px;
    }
  }
  .background-section-3 {
    height: 1270px;
  }
  .s3-top-wrapper {
    width: 90vw;
    height: 488px;
    margin-bottom: 63px;
    img {
      object-fit: cover;
      height: 278px;
      border-radius: 13px;
    }
  }
  .circle-extender-top {
    @include circle-extender-template;
    width: 56px;
    height: 56px;
    top: 5%;
    left: 76%;
  }
  .s3-grid {
    display: grid;
    grid-template-columns: 96%;
    grid-template-areas:
          "box-2";
    gap: 4%;
    .box-2 {
      width: 343px;
      max-width: 100%;
      height: auto;
    }
    .box-1 {
      display: none;
    }
  }
  .s4-mobile-font-size {
    font-size: 36px;
    padding-left: 3vw;
  }
  .s4-picture-1 > :first-child {
    position: relative;
    width: 343px;
    height: 325px;
  }
  .s4-picture-1 > :last-child {
    width: 43%;
    height: auto;
    top: 29%;
    left: 28%;
  }
  .s4-flex-pic {
    flex-direction: column;
    gap: 26px;
    .s4-picture-3, .s4-picture-2 {
      width: 347px;
      height: 325px;
      max-width: 100%;
      img {
        width: 347px;
        max-width: 100%;
        height: 325px;
        padding-left: 3px;
      }
    }
  }
  #s4-butterfly {
    width: 44%;
    height: auto;
    top: 30%;
    left: 29%;
  }
  #s4-asterics {
    width: 44%;
    height: auto;
    top: 27%;
    left: 29%;
  }
  .background-section-5 {
    height: 498px;
    padding-top: 176px;
    h4 {
      font-size: 24px;
      width: 90vw;
    }
  }
  .footer-btn {
    width: 96%;
    height: 72px;
    margin-bottom: 113px;
  }
  .btn-flex {
    width: 275px;
    gap: 20px
  }
  .text-flex {
    gap: 8px;
    width: 342px;
    height: 53px;
    h3 {
      font-size: 19px;
    }
    p {
      font-size: 15px;
    }
  }
  .btn-flex img {
    width: 52px;
    height: 52px;
  }
  .call-now::after {
    width: 32px;
    height: 15px;
  }
}