//SECTION 2

.section-2-height {
  height: 470px;
}

.section-2-wrapper {
  width: 540px;
  height: 267px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding-top: 101px;
  padding-left: 2%;
}

.achievements {
  width: 540px;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 96px;
}

.achievements--element {
  width: 116px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}