//SECTION 4

.s4-picture-1 {
  margin-top: 38px;
  margin-bottom: 26px;
  position: relative;
  object-fit: cover;
}

.s4-softstar {
  position: absolute;
  top: 16%;
  left: 37%;
  width: 26%;
  height: auto;
}

.s4-flex-pic {
  display: flex;
  justify-content: space-between;
  gap: 26px;
}

.s4-picture-2 {
  width: 514px;
  height: 414px;
  position: relative;
}

.s4-picture-3 {
  width: 514px;
  height: 414px;
  position: relative;
}

.s4-butterfly {
  position: absolute;
  width: 36%;
  height: auto;
  top: 25%;
  left: 31%;
}

.s4-asterics {
  position: absolute;
  width: 46%;
  height: auto;
  top: 22%;
  left: 28%;
}