//SECTION 3

.s3-top-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 63px;
  padding: 24px 20px;
  border-radius: 24px;
  background-color: #fffef2;
}

.s3-top-text {
  height: 114px;
  width: 590px;
  max-width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 22px;
}

.s3-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
          "box-1 box-2 box-3";
  gap: 40px;
}

.box-1 {
  @include box-style;
  grid-area: box-1;

  img {
    @include box-img;
  }
}

.box-2 {
  @include box-style;
  grid-area: box-2;

  img {
    @include box-img;
  }
}

.box-3 {
  @include box-style;
  grid-area: box-3;

  img {
    @include box-img;
  }
}

.s3-image-container {
  position: relative;
  display: inline-block;
}

.circle-extender-top {
  @include circle-extender-template;
  padding: 20px 11.1px 11.1px 20px;
  width: 7.5%;
  height: 15%;
  top: 7%;
  left: 88%;
}

.circle-extender {
  @include circle-extender-template;
  width: 21%;
  height: auto;
  top: 7%;
  left: 72%;
}