@import "reset";

//CONTAINER

.container {
  width: 1050px;
  max-width: 100%;
  margin: 0 auto;
}

/*BACKGROUNDS*/

.header-background {
  background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
}

.background-section {
  background-color: $background-1;
}

.background-section-3 {
  background-color: #3C3C3C;
  padding-top: 86px;
  padding-bottom: 86px;
  img {
    width: 100%;
  }
}

.background-section-4 {
  background-color: $background-1;
  padding-top: 82px;
  padding-bottom: 138px;
}

.background-section-5 {
  background-image: url('../images/bg.png');
  background-size: cover;
  padding-top: 303px;
  padding-bottom: 323px;

  h4 {
    text-align: center;
  }
}