$font-1: DynaPuff;
$font-2: Manrope;

/*FONT STYLES*/

.text-small {
  font-family: $font-2;
  font-size: 16px;
  font-weight: 500;
}

.text-color-1 {
  color: $text-color-1;
}

.text-color-2 {
  color: $text-color-2;
}

.text-color-3 {
  color: #FAEB49;
}

.call-now {
  font-family: $font-2;
  font-size: 24px;
  font-weight: 500;
  color: $text-color-1;

  &:after {
    content: "";
    display: inline-block;
    width: 55px;
    height: 26px;
    position: relative;
    top: 5px;
    left: 24px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='29' viewBox='0 0 57 29' fill='none'%3E%3Cpath d='M1 14.5L54 14.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 1.5L56 14.5L43 27.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center/contain no-repeat;
  }
}

.text-large {
  color: $text-color-1;
  font-family: $font-1;
  font-size: 80px;
  font-weight: 700;
  padding-left: 2%;
}

.text-medium {
  font-family: $font-1;
  font-size: 48px;
  font-weight: 700;
}

.text-medium-small {
  color: $text-color-2;
  font-family: $font-1;
  font-size: 40px;
  font-weight: 600;
}

.text-card-title {
  color: $text-color-2;
  font-family: $font-1;
  font-size: 32px;
  font-weight: 700;
}