@import "colors";
@import "fonts";

@mixin box-style {
  height: 545px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  padding: 20px;
  border-radius: 24px;
  background-color: #fffef2;
}

@mixin box-img {
  height: 338px;
  object-fit: cover;
  border-radius: 13px;
}

@mixin circle-extender-template {
  display: block;
  width: 56px;
  height: 56px;
  padding: 11px 11.1px 11.1px 11px;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
}
